@charset "UTF-8";

$CBrand: #ffbf00;

$CText: #000;
$CText2: #222;
$CText3: #777;
$CText4: #999;
$CText5: #bbb;
$CText6: #aaa;

$CBg: #ddd;
$CBg2: #eee;
$CBg3: #f9f9f9;
$CBg4: #fafafa; 

$font: 'Jost', sans-serif;
